@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-4xl font-bold mb-2;
}

h4 {
  @apply text-xl;
}

code {
  @apply bg-zinc-300 p-[2px] rounded;
}

input {
  @apply bg-zinc-100 border-black border-solid rounded p-[1px];
}

.black-button {
  @apply inline-flex h-11 items-center justify-center rounded-md border border-foreground px-8 text-sm font-medium text-foreground disabled:opacity-50 cursor-pointer;
}

.green-button {
  @apply inline-flex h-11 items-center justify-center rounded-md border-2 bg-green-100 border-foreground border-green-400 px-8 text-sm font-medium text-foreground disabled:opacity-50 cursor-pointer;
}
